---
title: "Titre de la page"
iraiser_cid: 1
header-segments:
  - nom_header: 'OPTIN'
    image_path: "https://i.vimeocdn.com/portrait/58832_300x300"
    title-html: "Ceci est un test - OPTIN"
  - nom_header: 'ADHERENT'
    image_path: "https://i.vimeocdn.com/portrait/58832_300x300"
    title-html: "Ceci est un test - ADHERENT"
  - nom_header: 'DONATEUR'
    image_path: "https://i.vimeocdn.com/portrait/58832_300x300"
    title-html: "Ceci est un test - DONATEUR"
  - nom_header: 'MIDDLE'
    image_path: "https://i.vimeocdn.com/portrait/58832_300x300"
    title-html: "Ceci est un test - MIDDLE"
  - nom_header: 'GD'
    image_path: "https://i.vimeocdn.com/portrait/58832_300x300"
    title-html: "Ceci est un test - GD"
cta-segments:
 - nom: 'OPTIN'
   type: fixe
   arrondi_superieur: 0
   valeurs:
     - 20
     - 30
     - 50
 - nom: 'ADHERENT'
   type: addition
   arrondi_superieur: 5
   valeurs:
     - 0
     - 5
     - 10
 - nom: 'DONATEUR'
   type: pourcentage
   arrondi_superieur: 5
   valeurs:
     - 0
     - 25
     - 50
 - nom: 'MIDDLE'
   type: pourcentage
   arrondi_superieur: 5
   valeurs:
     - 0
     - 25
     - 100
 - nom: 'GD'
   type: libre
   arrondi_superieur: 5
   valeurs:
     - 0
     - 25
#form-segments:
# - nom: 'OPTIN'
# etc...
options:
  meta:
    title: "Titre de la page"
    description: "Description de la page"
  
---

{% if page.iraiser_cid == nill or page.iraiser_cid == empty %}
  {% assign iraiser_cid = site.iraiser_cid %}
{% else %}
  {% assign iraiser_cid = page.iraiser_cid %}
{% endif %}

<div>
  <h1>{{ page.options.meta.title }}</h1>
</div>

{% if page.cta-segments != empty and page.cta-segments != nill %}
<header>
  <h1 class="custom-head-title">Loading..</h1>
  <img class="custom-head-img" src="loading.."/>
</header>
  <div>
    <a class="adFcta" data-cta="CTA" href="http://don.iraiser.eu">CALL TO Action 02</a>
  </div>
{% endif %}

{% if page.header-segments != empty and page.header-segments != nill %}
<script type="text/javascript">
var _DATA_CUSTOM_HEAD = {
  {% for segment in page.header-segments %}
  '{{ segment.nom_header }}': {
    'txt': '{{ segment.title-html }}',
    'img': '{{ segment.image_path }}'
  }{% if forloop.last %}{% else %},{% endif %}
  {% endfor %}
}
</script>
{% endif %}

{% if page.cta-segments != empty and page.cta-segments != nill %}
<script type="text/javascript">
  var _DATA_CTA = {
    iraiser_cid: {{ iraiser_cid }},
    iraiser_url: '{{ site.iraiser_url }}',
    woopra_interaction: document.href + ' {{ site.woopra_interaction }}',
    segments: {
      {% for segment in page.cta-segments %}
      '{{ segment.nom }}': {
        'arrondiSup': {{ segment.arrondi_superieur }},
        'type': '{{ segment.type }}',
        'values': [
        {% for valeur in segment.valeurs %}
          {{ valeur }}{% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
        ]
      }{% if forloop.last %}{% else %},{% endif %}
      {% endfor %}
    }
  }
</script>
{% endif %}

<script defer type="text/javascript">
function whenAvailable(name, callback) {
  var interval = 10; // ms
  window.setTimeout(function() {
    if (window[name]) {
      callback(window[name]);
    } else {
      window.setTimeout(arguments.callee, interval);
    }
  }, interval);
}
whenAvailable("loadJQuery", function() {
  loadJQuery('cta', false, 100, 'OPTIN');
});
</script>
