---
title: "Titre de la page"
header-segments:
  - nom: 'OPTIN'
    image_path: ""
    title-html: ""
cta-segments:
 - nom: 'OPTIN'
   type: fixe
   arrondi_superieur: 0
   valeurs:
     - 20
     - 30
     - 50
 - nom: 'ADHERENT'
   type: addition
   arrondi_superieur: 5
   valeurs:
     - 0
     - 5
     - 10
 - nom: 'DONATEUR'
   type: pourcentage
   arrondi_superieur: 5
   valeurs:
     - 0
     - 25
     - 50
 - nom: 'MIDDLE'
   type: pourcentage
   arrondi_superieur: 5
   valeurs:
     - 0
     - 25
     - 100
 - nom: 'GD'
   type: libre
   arrondi_superieur: 5
   valeurs:
     - 0
     - 25
#form-segments:
# - nom: 'OPTIN'
# etc...
options:
  meta:
    title: "Titre de la page"
    description: "Description de la page"
  
---

<div>
  <h1>{{ page.options.meta.title }}</h1>
</div>

{% if page.cta-segments != empty and page.cta-segments != nill %}
  <div>
    <a class="adFcta" data-cta="2" href="http://don.iraiser.eu">CALL TO Action 02</a>
  </div>
{% endif %}

{% if page.cta-segments != empty and page.cta-segments != nill %}
<script type="text/javascript">
  var _DATA_CTA = {
    iraiser_cid: {{ site.iraiser_cid }},
    iraiser_url: '{{ site.iraiser_url }}',
    woopra_interaction: '{{ site.woopra_interaction }}',
    segments: {
      {% for segment in page.cta-segments %}
      '{{ segment.nom }}': {
        'arrondiSup': {{ segment.arrondi_superieur }},
        'type': '{{ segment.type }}',
        'values': [
        {% for valeur in segment.valeurs %}
          {{ valeur }}{% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
        ]
      }{% if forloop.last %}{% else %},{% endif %}
      {% endfor %}
    }
  }
</script>
{% endif %}

<script defer type="text/javascript">
function whenAvailable(name, callback) {
  var interval = 10; // ms
  window.setTimeout(function() {
    if (window[name]) {
      callback(window[name]);
    } else {
      window.setTimeout(arguments.callee, interval);
    }
  }, interval);
}
whenAvailable("loadJQuery", function() {
  loadJQuery('cta', true, 100, 'OPTIN');
});
</script>
